extends index.pug


block content
  p
    This Bakery is the best bakery in the world. You'll love it. It's the best bakery. Everyone says so. I started this bakery with a small loan of $1,000,000 and everything costs $1,000,000 for you can afford it too

  h3 It's Uuuuuge
