doctype html
html
  head
    title my bakery

  body
    h1 Welcome to AI Bakery
    h2= subtitle

    img(src= "/img/carrot-cake.jpeg")


  block content
    p This is the best bakery in the whole world
    include nav.pug
