//- extends index.pug

block content
  p

  .nav-bar
    a(class={active: currentView !== "home"} href='/') Home
    a(class={active: currentView !== "about"} href='/about') About
    a(class={active: currentView !== "inventory"} href='/inventory') Inventory
